aside {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
}

.entrada-aside {
  display: flex;
  flex-direction: row;
}
.entrada-aside img {
  width: 50%;
  margin: 2rem;
}
.entrada-aside-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.entrada-aside-texto h3 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
 
  .entrada-aside {
    margin-top: 2rem;
    flex-direction: column;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .entrada-aside img {
    width: 25rem;
    margin-left: 0;
  }

  .entrada-aside-texto {
    width: 23rem;
  }
}

