.entrada {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 30rem;
  margin: 2rem;
}
.entrada-copetti {
  background-image: url('../img/copetti-independiente.jpg');
}
.entrada-hauche {
  background-image: url('../img/hauche-independiente.jpg');
}
.entrada-gago {
  background-image: url('../img/gago-independiente.jpg');
}
.entrada h2 {
  color: #fff;
  height: 110%;
  margin-top: -.1rem;
  margin-bottom: -.1rem;
  display: flex;
  align-items: flex-end;
  font-size: 2.2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.entrada h2:hover {
  background-color: rgba(0, 0, 0, 0.6);
}  

.boton {
  font-size: 2rem;
  margin: 5rem auto 5rem 2rem;
  background-color: #5fc1ccb2;
  display: inline-block;
  padding: 2rem;
  color: #fff;
}
.boton:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .entrada {
    width: 70rem;
    height: 40rem;
  }
  .entrada h2 {
    font-size: 3rem;
  }
}

/* .entrada img {
  width: 80%;
  margin: 2rem;
  position: relative;
}
.entrada h2 {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  margin-top: 20rem;
} */