.proximo-partido {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proximo-partido img {
  width: 40rem;
  margin: 3rem;
}


@media (min-width: 768px) {
  .proximo-partido {
    margin: 8rem auto 0 40rem;
  }
}