html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  font-size: 1.3rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 150%;
}

@media (min-width: 768px) {
  .app {
    display: flex;
    width: 100%;
  }
}